<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>AllServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.AllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.DownloadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.UploadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAdsServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.UserAdsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAdServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.DeleteAdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AllServlet</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdsServlet</servlet-name>
    <url-pattern>/cabinet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAdServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>
